{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "endOfLine": "lf",
  "printWidth": 120,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "tv", "twMerge", "twJoin"],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 180
      }
    }
  ]
}
